@import "fontello";

header {
  width: 100%;
  background-color: var(--header);
  padding: 1.5rem 0.5rem;
  font-size: 2rem;
}
.logo {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  margin: 0.5rem 1rem;
  text-align: center;
}
label.theme-switch {
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: rgb(219, 219, 219);
  border: 3px solid #fff;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(228, 192, 85);
    border-radius: 100%;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
    z-index: 1;
  }
  &::before {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 2;
    transition: all 0.2s ease-out;
  }
}

input[type="checkbox"]#theme {
  display: none;
  &:checked + label {
    background-color: rgb(132, 144, 172);
    border-color: rgb(85, 95, 119);
  }
  &:checked + label::after {
    background-color: rgb(60, 72, 100);
  }
  &:checked + label::after,
  &:checked + label::before {
    transform: translateX(100%);
  }
}
